<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> 水平滑动 div + withe-space </title>
  <!-- 问题
  在PC端,鼠标只有在水平滑动条上才能左右滑动,怎么实现在滑动条上方也能左右滑动？ 



-->

  <style>
    div.cart-gift-content {
      max-width: 960px;
      margin: 20px auto;
    }

    div.cart-gift-slider {
      white-space: nowrap;
      display: block;
      overflow-y: hidden;
      overflow-x: auto;

    }

    .cart-gift-thumbnail {
      display: inline-block;
    }
  </style>
</head>

<body>
  <div class="cart-gift-content" data-local-content="">
    <div class="cart-gift-slider">
      <div class="cart-gift-thumbnail">
        <div class="image-container">
          <img
            src="http://cdn.shopify.com/s/files/1/0066/0052/products/Luxy-Hair-Extensions-Midnight-Hour-Hair-Accessories-Pearl-Clips_1x1_Static_122018bd-5065-4fd3-9f1c-64d3a74b9eeb_300x.jpg?v=1607532148"
            alt="">
        </div>

        <div class="cart-gift-thumbnail-content">
          <p class="local--heading">
            Pretty In Pearl Clips
          </p>

          <button class="cart-gift-add-to-cart " data-local-add-to-cart="">
            <script type="text/json">
                    {
                      "id": 32448269287460,
                      "quantity": 1
                    }
                  </script>

            <span class="local--default" data-local-add="">Add</span>
            <span class="local--active hide" data-local-added="">Added</span>
            <span class="local--spinner" data-local-spinner=""></span>
          </button>
        </div>
      </div>
      <div class="cart-gift-thumbnail">
        <div class="image-container">
          <img
            src="http://cdn.shopify.com/s/files/1/0066/0052/products/Static_c403ac7d-e0f0-4343-9b36-c3a9d167945b_300x.jpg?v=1607531989"
            alt="">
        </div>

        <div class="cart-gift-thumbnail-content">
          <p class="local--heading">
            Compact Mirror
          </p>
          <button class="cart-gift-add-to-cart " data-local-add-to-cart="">
            <script type="text/json">
                    {
                      "id": 32140668076068,
                      "quantity": 1
                    }
                  </script>

            <span class="local--default" data-local-add="">Add</span>
            <span class="local--active hide" data-local-added="">Added</span>
            <span class="local--spinner" data-local-spinner=""></span>
          </button>
        </div>
      </div>
      <div class="cart-gift-thumbnail">
        <div class="image-container">
          <img
            src="http://cdn.shopify.com/s/files/1/0066/0052/products/1X1_Static_727b377e-efa5-4bef-b264-af1b55b6bd10_300x.jpg?v=1617286328"
            alt="">
        </div>

        <div class="cart-gift-thumbnail-content">
          <p class="local--heading">
            French Vanilla Claw Clip
          </p>

          <button class="cart-gift-add-to-cart " data-local-add-to-cart="">
            <script type="text/json">
                    {
                      "id": 39343812509732,
                      "quantity": 1
                    }
                  </script>

            <span class="local--default" data-local-add="">Add</span>
            <span class="local--active hide" data-local-added="">Added</span>
            <span class="local--spinner" data-local-spinner=""></span>
          </button>
        </div>
      </div>
      <div class="cart-gift-thumbnail">
        <div class="image-container">
          <img
            src="http://cdn.shopify.com/s/files/1/0066/0052/products/1X1_Static_727b377e-efa5-4bef-b264-af1b55b6bd10_300x.jpg?v=1617286328"
            alt="">
        </div>

        <div class="cart-gift-thumbnail-content">
          <p class="local--heading">
            French Vanilla Claw Clip
          </p>

          <button class="cart-gift-add-to-cart " data-local-add-to-cart="">
            <script type="text/json">
                    {
                      "id": 39343812509732,
                      "quantity": 1
                    }
                  </script>

            <span class="local--default" data-local-add="">Add</span>
            <span class="local--active hide" data-local-added="">Added</span>
            <span class="local--spinner" data-local-spinner=""></span>
          </button>
        </div>
      </div>
      <div class="cart-gift-thumbnail">
        <div class="image-container">
          <img
            src="http://cdn.shopify.com/s/files/1/0066/0052/products/1X1_Static_727b377e-efa5-4bef-b264-af1b55b6bd10_300x.jpg?v=1617286328"
            alt="">
        </div>

        <div class="cart-gift-thumbnail-content">
          <p class="local--heading">
            French Vanilla Claw Clip
          </p>

          <button class="cart-gift-add-to-cart " data-local-add-to-cart="">
            <script type="text/json">
                    {
                      "id": 39343812509732,
                      "quantity": 1
                    }
                  </script>

            <span class="local--default" data-local-add="">Add</span>
            <span class="local--active hide" data-local-added="">Added</span>
            <span class="local--spinner" data-local-spinner=""></span>
          </button>
        </div>
      </div>
      <div class="cart-gift-thumbnail">
        <div class="image-container">
          <img
            src="http://cdn.shopify.com/s/files/1/0066/0052/products/1X1_Static_727b377e-efa5-4bef-b264-af1b55b6bd10_300x.jpg?v=1617286328"
            alt="">
        </div>

        <div class="cart-gift-thumbnail-content">
          <p class="local--heading">
            French Vanilla Claw Clip
          </p>

          <button class="cart-gift-add-to-cart " data-local-add-to-cart="">
            <script type="text/json">
                    {
                      "id": 39343812509732,
                      "quantity": 1
                    }
                  </script>

            <span class="local--default" data-local-add="">Add</span>
            <span class="local--active hide" data-local-added="">Added</span>
            <span class="local--spinner" data-local-spinner=""></span>
          </button>
        </div>
      </div>

    </div>
  </div>
</body>
</html>