<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3 clolum </title>

    <style>
        .theme-container {
    padding-left: 1.333rem;
    padding-right: 1.333rem;
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1150px;
    border:1px solid yellow;
}

.grid-uniform>.grid-item {
    position: relative;
    padding-left: 1.333rem;
    vertical-align: top;
    display: inline-block;
    white-space: normal;
    font-size: 1rem;
    border:1px solid #000;
}

.xlarge--one-third {
    width: 33.333%;
}



.grid-gutter--up-4 {
    margin-left: -3.15733rem;
}

.grid-uniform:after {
    content: "";
    display: table;
    clear: both;
}

*, :before, :after {
    box-sizing: border-box;
}

.grid-uniform {
    *zoom: 1;
    list-style: none;
    margin-left: -1.333rem;
    font-size: 0;
}
    </style>
</head>

<body>
    <div class="padding-top--up-3 large--padding-top--up-6 box-default-lightest">
        <div class="theme-container" style="max-width: 1150px;">
            <div class="text-center margin-bottom--up-4 xlarge--margin-bottom--up-6">
                <h2 class="font-size--up-6 large--font-size--up-7">
                    Help Topics
                </h2>

                <div class="page-header-rte">
                    <p class="margin-bottom--none">
                        Questions answered by specific topic.
                    </p>
                </div>

            </div>

            <div class="grid-uniform grid-gutter--up-4 xlarge--grid-gutter--up-5">

                <div class="grid-item large--one-half xlarge--one-third margin-bottom--up-4 xlarge--margin-bottom--up-6">
                    <h3 class="title-secondary-bold text-wide font-size--0 margin-bottom--up-1 padding-bottom--up-1 border-bottom-default-lighter">
                        <a href="/blogs/support/tagged/choosing-your-perfect-luxy-set">Choosing Your Perfect Luxy
                            Set</a>
                    </h3>

                    <ul>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/how-do-i-choose-the-right-color-of-highlights-extensions" class="block padding-bottom--down-3 text-secondary-dark">
                                How do I choose the right color of Highlights extensions?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/how-do-i-choose-between-clip-in-and-halo-extensions" class="block padding-bottom--down-3 text-secondary-dark">
                                How do I choose between clip-in and Halo extensions?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/how-do-i-choose-the-right-color-of-black-extensions" class="block padding-bottom--down-3 text-secondary-dark">
                                How do I choose the right color of black extensions?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/what-is-the-difference-between-classic-and-seamless-extensions" class="block padding-bottom--down-3 text-secondary-dark">
                                What is the difference between Classic and Seamless hair extensions?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/what-lengths-do-you-offer" class="block padding-bottom--down-3 text-secondary-dark">
                                What lengths do you offer, and what do they look like on?
                            </a>
                        </li>

                    </ul>

                    <a href="/blogs/support/tagged/choosing-your-perfect-luxy-set" class="font-italic font-size--down-1 text-link-default-light">
                        more
                    </a>
                </div>

                <div class="grid-item large--one-half xlarge--one-third margin-bottom--up-4 xlarge--margin-bottom--up-6">
                    <h3 class="title-secondary-bold text-wide font-size--0 margin-bottom--up-1 padding-bottom--up-1 border-bottom-default-lighter">
                        <a href="/blogs/support/tagged/about-hair-extensions-and-suitability">About Hair Extensions And
                            Suitability</a>
                    </h3>

                    <ul>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/are-your-balayage-colors-available-in-sample-swatches" class="block padding-bottom--down-3 text-secondary-dark">
                                Are your Balayage colors available in sample swatches?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/do-you-have-any-sample-swatches" class="block padding-bottom--down-3 text-secondary-dark">
                                Do you have any sample swatches?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/do-i-need-to-have-highlights-in-my-hair-to-wear-the-highlights-collection" class="block padding-bottom--down-3 text-secondary-dark">
                                Do I need to have highlights in my hair to wear the Highlights collection?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/i-have-short-hair-can-i-wear-the-highlights-collection" class="block padding-bottom--down-3 text-secondary-dark">
                                I have short hair. Can I wear the Highlights collection?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/how-do-i-use-the-halo-volume-bundle-with-short-hair" class="block padding-bottom--down-3 text-secondary-dark">
                                How do I use the Halo Volume Bundle with short hair?
                            </a>
                        </li>

                    </ul>

                    <a href="/blogs/support/tagged/about-hair-extensions-and-suitability" class="font-italic font-size--down-1 text-link-default-light">
                        more
                    </a>
                </div>

                <div class="grid-item large--one-half xlarge--one-third margin-bottom--up-4 xlarge--margin-bottom--up-6">
                    <h3 class="title-secondary-bold text-wide font-size--0 margin-bottom--up-1 padding-bottom--up-1 border-bottom-default-lighter">
                        <a href="/blogs/support/tagged/hair-extension-usage-and-care">Hair Extension Usage and Care</a>
                    </h3>

                    <ul>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/how-do-i-care-for-my-extensions" class="block padding-bottom--down-3 text-secondary-dark">
                                How do I care for my extensions?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/do-i-need-to-wash-my-extensions-before-i-wear-them" class="block padding-bottom--down-3 text-secondary-dark">
                                Do I need to wash my extensions before I wear them?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/how-do-you-prevent-tangling-matting-and-reduce-shedding" class="block padding-bottom--down-3 text-secondary-dark">
                                How do you prevent tangling/matting and reduce shedding?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/can-i-cut-the-balayage-extensions-shorter" class="block padding-bottom--down-3 text-secondary-dark">
                                Can I cut the Balayage extensions shorter?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/can-i-bleach-my-human-hair-extensions" class="block padding-bottom--down-3 text-secondary-dark">
                                Can I bleach my human hair extensions?
                            </a>
                        </li>

                    </ul>

                    <a href="/blogs/support/tagged/hair-extension-usage-and-care" class="font-italic font-size--down-1 text-link-default-light">
                        more
                    </a>
                </div>

                <div class="grid-item large--one-half xlarge--one-third margin-bottom--up-4 xlarge--margin-bottom--up-6">
                    <h3 class="title-secondary-bold text-wide font-size--0 margin-bottom--up-1 padding-bottom--up-1 border-bottom-default-lighter">
                        <a href="/blogs/support/tagged/halo-hair-extensions">Halo Hair Extensions</a>
                    </h3>

                    <ul>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/can-you-sleep-in-halo-extensions" class="block padding-bottom--down-3 text-secondary-dark">
                                Can you sleep in Halo extensions?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/can-you-wash-halo-hair-extensions" class="block padding-bottom--down-3 text-secondary-dark">
                                Can you wash Halo hair extensions?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/how-long-do-halo-hair-extensions-last" class="block padding-bottom--down-3 text-secondary-dark">
                                How long do Halo hair extensions last?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/how-do-i-use-the-halo-volume-bundle-with-short-hair" class="block padding-bottom--down-3 text-secondary-dark">
                                How do I use the Halo Volume Bundle with short hair?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/can-i-do-ponytails-updos-using-halo-extensions" class="block padding-bottom--down-3 text-secondary-dark">
                                Can I do ponytails/updos using Halo Extensions?
                            </a>
                        </li>

                    </ul>

                    <a href="/blogs/support/tagged/halo-hair-extensions" class="font-italic font-size--down-1 text-link-default-light">
                        more
                    </a>
                </div>

                <div class="grid-item large--one-half xlarge--one-third margin-bottom--up-4 xlarge--margin-bottom--up-6">
                    <h3 class="title-secondary-bold text-wide font-size--0 margin-bottom--up-1 padding-bottom--up-1 border-bottom-default-lighter">
                        <a href="/blogs/support/tagged/clip-in-bangs">Clip-In Bangs</a>
                    </h3>

                    <ul>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/how-long-are-the-clip-in-bangs" class="block padding-bottom--down-3 text-secondary-dark">
                                How long are the Clip-In Bangs?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/will-clip-in-bangs-show-or-be-obvious-to-others" class="block padding-bottom--down-3 text-secondary-dark">
                                Will Clip-In Bangs show or be obvious to others?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/do-clip-in-bangs-come-with-free-shipping" class="block padding-bottom--down-3 text-secondary-dark">
                                Do Clip-in Bangs come with free shipping?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/can-i-wash-and-heat-style-clip-in-bangs" class="block padding-bottom--down-3 text-secondary-dark">
                                Can I wash and heat style Clip-In Bangs?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/are-clip-in-bangs-made-from-human-hair" class="block padding-bottom--down-3 text-secondary-dark">
                                Are Clip-In Bangs made from human hair?
                            </a>
                        </li>

                    </ul>

                    <a href="/blogs/support/tagged/clip-in-bangs" class="font-italic font-size--down-1 text-link-default-light">
                        more
                    </a>
                </div>

                <div class="grid-item large--one-half xlarge--one-third margin-bottom--up-4 xlarge--margin-bottom--up-6">
                    <h3 class="title-secondary-bold text-wide font-size--0 margin-bottom--up-1 padding-bottom--up-1 border-bottom-default-lighter">
                        <a href="/blogs/support/tagged/luxy-hair-accessories">Luxy Hair Accessories</a>
                    </h3>

                    <ul>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/what-is-the-luxy-hair-padded-pearl-headband" class="block padding-bottom--down-3 text-secondary-dark">
                                What is the Luxy Hair Padded Pearl Headband?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/what-are-the-limited-edition-luxy-hair-clips" class="block padding-bottom--down-3 text-secondary-dark">
                                What are the Limited Edition Luxy Hair Clips?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/will-the-gold-exterior-on-the-deluxe-styler-rust-if-i-place-wet-extensions-on-it" class="block padding-bottom--down-3 text-secondary-dark">
                                Will the gold exterior on the Deluxe Styler rust if I place wet extensions on it?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/will-the-deluxe-styler-damage-my-luxies-in-any-way" class="block padding-bottom--down-3 text-secondary-dark">
                                Will the Deluxe Styler damage my Luxies in any way?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/are-there-any-care-instructions-for-the-deluxe-styler" class="block padding-bottom--down-3 text-secondary-dark">
                                Are there any care instructions for the Deluxe Styler?
                            </a>
                        </li>

                    </ul>

                    <a href="/blogs/support/tagged/luxy-hair-accessories" class="font-italic font-size--down-1 text-link-default-light">
                        more
                    </a>
                </div>

                <div class="grid-item large--one-half xlarge--one-third margin-bottom--up-4 xlarge--margin-bottom--up-6">
                    <h3 class="title-secondary-bold text-wide font-size--0 margin-bottom--up-1 padding-bottom--up-1 border-bottom-default-lighter">
                        <a href="/blogs/support/tagged/shipping-and-delivery">Shipping and Delivery</a>
                    </h3>

                    <ul>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/backorders" class="block padding-bottom--down-3 text-secondary-dark">
                                Backorders
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/tracking-your-order" class="block padding-bottom--down-3 text-secondary-dark">
                                Tracking Your Order
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/shipping-estimates" class="block padding-bottom--down-3 text-secondary-dark">
                                Shipping Estimates
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/my-tracking-information-says-that-my-order-was-delivered-to-agent-what-do-i-do" class="block padding-bottom--down-3 text-secondary-dark">
                                My tracking information says that my order was delivered to agent. What do I do?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/my-tracking-information-shows-that-the-courier-attempted-to-deliver-my-package-what-do-i-do" class="block padding-bottom--down-3 text-secondary-dark">
                                My tracking information shows that the courier attempted to deliver my order. What do I
                                do?
                            </a>
                        </li>

                    </ul>

                    <a href="/blogs/support/tagged/shipping-and-delivery" class="font-italic font-size--down-1 text-link-default-light">
                        more
                    </a>
                </div>

                <div class="grid-item large--one-half xlarge--one-third margin-bottom--up-4 xlarge--margin-bottom--up-6">
                    <h3 class="title-secondary-bold text-wide font-size--0 margin-bottom--up-1 padding-bottom--up-1 border-bottom-default-lighter">
                        <a href="/blogs/support/tagged/return-and-exchange-policy">Return and Exchange Policy</a>
                    </h3>

                    <ul>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/can-i-exchange-or-return-my-accessory" class="block padding-bottom--down-3 text-secondary-dark">
                                Can I exchange or return my Accessory?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/do-i-have-to-pay-for-the-shipping-of-my-return-or-exchange" class="block padding-bottom--down-3 text-secondary-dark">
                                Do I have to pay for the shipping of my return or exchange?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/when-will-i-receive-my-exchange" class="block padding-bottom--down-3 text-secondary-dark">
                                When will I receive my new exchange?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/when-will-i-receive-my-refund-1" class="block padding-bottom--down-3 text-secondary-dark">
                                When will I receive my refund?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/how-do-i-initiate-a-return-or-exchange" class="block padding-bottom--down-3 text-secondary-dark">
                                How do I initiate a return or exchange?
                            </a>
                        </li>

                    </ul>

                    <a href="/blogs/support/tagged/return-and-exchange-policy" class="font-italic font-size--down-1 text-link-default-light">
                        more
                    </a>
                </div>

                <div class="grid-item large--one-half xlarge--one-third margin-bottom--up-4 xlarge--margin-bottom--up-6">
                    <h3 class="title-secondary-bold text-wide font-size--0 margin-bottom--up-1 padding-bottom--up-1 border-bottom-default-lighter">
                        <a href="/blogs/support/tagged/order-changes-and-requests">Order Changes and Requests</a>
                    </h3>

                    <ul>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/i-havent-received-a-confirmation-email" class="block padding-bottom--down-3 text-secondary-dark">
                                Why haven't I received a confirmation email?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/im-not-happy-with-my-purchase-can-you-help" class="block padding-bottom--down-3 text-secondary-dark">
                                I'm not happy with my purchase. Can you help?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/i-got-an-e-mail-saying-that-i-have-to-verify-my-order-details-what-does-that-mean" class="block padding-bottom--down-3 text-secondary-dark">
                                I got an e-mail saying that I have to verify my order details - what does that mean?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/how-can-i-upgrade-my-shipping" class="block padding-bottom--down-3 text-secondary-dark">
                                How can I upgrade my shipping?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/how-do-i-change-my-shipping-address" class="block padding-bottom--down-3 text-secondary-dark">
                                How do I change my shipping address?
                            </a>
                        </li>

                    </ul>

                    <a href="/blogs/support/tagged/order-changes-and-requests" class="font-italic font-size--down-1 text-link-default-light">
                        more
                    </a>
                </div>

                <div class="grid-item large--one-half xlarge--one-third margin-bottom--up-4 xlarge--margin-bottom--up-6">
                    <h3 class="title-secondary-bold text-wide font-size--0 margin-bottom--up-1 padding-bottom--up-1 border-bottom-default-lighter">
                        <a href="/blogs/support/tagged/payment-and-pricing">Payment and Pricing</a>
                    </h3>

                    <ul>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/what-if-i-dont-have-a-credit-card" class="block padding-bottom--down-3 text-secondary-dark">
                                What if I don't have a credit card?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/do-you-offer-wholesale-packages-pricing" class="block padding-bottom--down-3 text-secondary-dark">
                                Do you offer wholesale packages/pricing?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/how-much-are-luxy-hair-extensions" class="block padding-bottom--down-3 text-secondary-dark">
                                How much are Luxy Hair extensions?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/what-methods-of-payment-do-you-accept" class="block padding-bottom--down-3 text-secondary-dark">
                                What methods of payment do you accept?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/why-did-i-get-charged-an-extra-fee-of-1-10" class="block padding-bottom--down-3 text-secondary-dark">
                                Why did I get charged an extra fee of $1-$10?
                            </a>
                        </li>

                    </ul>

                    <a href="/blogs/support/tagged/payment-and-pricing" class="font-italic font-size--down-1 text-link-default-light">
                        more
                    </a>
                </div>

                <div class="grid-item large--one-half xlarge--one-third margin-bottom--up-4 xlarge--margin-bottom--up-6">
                    <h3 class="title-secondary-bold text-wide font-size--0 margin-bottom--up-1 padding-bottom--up-1 border-bottom-default-lighter">
                        <a href="/blogs/support/tagged/payment-plans">Payment Plans</a>
                    </h3>

                    <ul>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/can-i-pay-off-my-balance-early" class="block padding-bottom--down-3 text-secondary-dark">
                                Can I pay off my balance early?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/how-can-i-increase-my-chance-of-being-accepted-by-klarna" class="block padding-bottom--down-3 text-secondary-dark">
                                How can I increase my chance of being accepted by Klarna?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/why-have-i-not-been-offered-pay-later" class="block padding-bottom--down-3 text-secondary-dark">
                                Why have I not been offered Pay Later?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/why-have-i-only-been-accepted-for-a-certain-order-value" class="block padding-bottom--down-3 text-secondary-dark">
                                Why have I only been accepted for a certain order value?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/why-wasnt-my-application-accepted-by-klarna" class="block padding-bottom--down-3 text-secondary-dark">
                                Why wasn't my application accepted by Klarna?
                            </a>
                        </li>

                    </ul>

                    <a href="/blogs/support/tagged/payment-plans" class="font-italic font-size--down-1 text-link-default-light">
                        more
                    </a>
                </div>

                <div class="grid-item large--one-half xlarge--one-third margin-bottom--up-4 xlarge--margin-bottom--up-6">
                    <h3 class="title-secondary-bold text-wide font-size--0 margin-bottom--up-1 padding-bottom--up-1 border-bottom-default-lighter">
                        <a href="/blogs/support/tagged/rewards-program">Rewards Program</a>
                    </h3>

                    <ul>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/how-do-i-refer-a-friend-so-we-both-get-10-off-our-order" class="block padding-bottom--down-3 text-secondary-dark">
                                How do I refer a friend to give $10 and get $10 off my order?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/can-i-share-my-referral-code-on-coupon-databases" class="block padding-bottom--down-3 text-secondary-dark">
                                Can I share my referral code on coupon databases?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/how-many-points-will-i-get-per-purchase" class="block padding-bottom--down-3 text-secondary-dark">
                                How many points will I get per purchase?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/luxy-hair-discount-code" class="block padding-bottom--down-3 text-secondary-dark">
                                Do you have a discount?
                            </a>
                        </li>

                        <li class="font-size--down-1">
                            <a href="/blogs/support/what-happens-if-i-leave-and-decide-to-join-again" class="block padding-bottom--down-3 text-secondary-dark">
                                What happens if I leave and decide to join again?
                            </a>
                        </li>

                    </ul>

                    <a href="/blogs/support/tagged/rewards-program" class="font-italic font-size--down-1 text-link-default-light">
                        more
                    </a>
                </div>

            </div>
        </div>
    </div>
</body></html>