<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>abh product info </title>
</head>

<body>
    <dl class="faqAccordion">
        <dt><button type="button" aria-controls="panel-01" aria-expanded="false">Product Info</button></dt>
        <dd id="panel-01" aria-hidden="true">
            <p style="text-align: left;">AmazingBeauty Natural Black Hair Extensions Clip Ins, Super Easy To Use &amp; Can Blend Well With Your Own
                Hair. Clip In Hair Extensions Are Only Temporary, Meaning You Can Clip Them In And Style Them However You Please, And They Are An
                Amazing Alternative To Achieving Plenty Of Hair In An Instant!</p>
            <p style="text-align: left;">- Premium <a href="https://www.amazingbeautyhair.com/collections/remy-hair-extensions"
                    title="100% Remy Hair Extensions" target="_blank">100% REMY human hair extensions</a> <br>- Silky straight hair<br>- Off
                black&nbsp;color 1B#<br>-<strong>&nbsp;</strong>120g/set, 7 pieces/set<br>- Set Content:<br>&nbsp; &nbsp;1*8" weft with 4
                clips<br>&nbsp; &nbsp;1*7" weft with 3 clips<br>&nbsp; &nbsp;1*6" wefts with 3 clips<br>&nbsp; &nbsp;4*4" wefts with 2clip<br>- Can
                last more than 6 months with proper maintain <br>- Can <span>be washed, dyed, cut, styled as your own hair<br></span>- Recommend
                Quantity:&nbsp;<span>1 set&nbsp;is enough for full head&nbsp;<br>- Color difference:&nbsp;
                    The&nbsp;pictures&nbsp;were&nbsp;taken&nbsp;in&nbsp;kind&nbsp;in&nbsp;100%,&nbsp;but&nbsp;due&nbsp;to&nbsp;the&nbsp;reason&nbsp;of&nbsp;light&nbsp;and&nbsp;the&nbsp;display,&nbsp;you&nbsp;can&nbsp;see&nbsp;the&nbsp;picture&nbsp;may&nbsp;have&nbsp;a&nbsp;slight&nbsp;color&nbsp;difference&nbsp;problem,&nbsp;this&nbsp;is&nbsp;inevitable,&nbsp;please&nbsp;understanding!
                    &nbsp;</span></p>
            <p style="text-align: left;"><em>Need help color matching? <span style="color: #cd627d;"><a href="mailto:laura@amazingbeautyhair.com"
                            style="color: #cd627d;">Email us</a></span> or check color ring <span style="color: #cd627d;"><a
                            href="https://www.amazingbeautyhair.com/products/color-ring" style="color: #cd627d;" target="_blank">here</a></span>!</em>
            </p>
        </dd>
        <dt><button type="button" aria-controls="panel-01" aria-expanded="false"> About Our Hair </button></dt>
        <dd id="panel-01" aria-hidden="true">
            <p><em><strong>AmazingBeauty Clip In Hair Extensions</strong></em><span>&nbsp;</span>are made with 100% remy human hair with full cuticle.
                <span>Remy hair&nbsp;is considered to be the&nbsp;finest quality of human hair because it is hand picked and aligned so that every
                    single strand runs in the same direction that it grows from the scalp,</span><span>&nbsp;we never use any harsh chemicals or
                    silicones which leaves the cuticles intact, so&nbsp;the hair is soft,</span><span>&nbsp;minimum shedding and non-damage. You can
                    cut/wash/style/dye the hair any way just like your own hair.&nbsp;</span></p>
            <p><em><strong>Why Amazing Beauty Full Set Clip Ins?</strong></em></p>
            <p><span><strong>Invisible:</strong></span><span>&nbsp;</span>AmazingBeauty Clip In Hair Extensions are invisible that looks like your own
                natural hair.</p>
            <p><strong><span>Easy to use</span>:</strong><span>&nbsp;</span>AmazingBeauty Clip In Hair Extensions are quick and easy to clip in It can
                be done in 10-20mins.</p>
            <p><strong><span>No damage</span>:</strong><span>&nbsp;</span>AmazingBeauty Clip In Hair Extensions are safe to wear and cause absolutely
                no damage to your own hair.</p>
            <p><strong><span>Instant length and volume</span>:</strong><span>&nbsp;</span>AmazingBeauty Clip In Hair Extensions are the quickest and
                simplest way to transform your hair from thin to thick and voluminous looks that you’ve always dreamed of in just few mins.</p>
            <p><strong><span>Versatile hair:</span></strong><span>&nbsp;AmazingBeauty Clip In Hair Extensions can be washed, blow dried, styled, and
                    braided into ponytail with your own hair.</span></p>
        </dd>
        <dt><button type="button" aria-controls="panel-01" aria-expanded="false">Shipping &amp; Delivery</button></dt>
        <dd id="panel-01" aria-hidden="true">
            <p>All prices on the website exclude shipping fees. We Offer <strong>FREE&nbsp;&nbsp;</strong>shipping worldwide. Your AmazingBeauty Hair
                Extensions are shipping from China or USA warehouse.</p>
            <p>Orders will be shipped within 2 days after payment and around 2-7 days for delivery.</p>
            <table width="340" height="150" border="1" cellspacing="0">
                <tbody>
                    <tr style="height: 15px;">
                        <td style="height: 15px; width: 120px; text-align: center; background-color: #cd627d;"><strong>COUNTRY</strong></td>
                        <td style="height: 15px; width: 100px; text-align: center; background-color: #cd627d;"><strong>&nbsp;CARRIER</strong></td>
                        <td style="height: 15px; width: 120px; text-align: center; background-color: #cd627d;"><strong>TRANSIT TIME</strong></td>
                    </tr>
                    <tr style="height: 15px;">
                        <td style="height: 15px; text-align: center;"><strong>United States</strong></td>
                        <td style="height: 15px; text-align: center;">DHL USPS</td>
                        <td style="height: 15px; text-align: center;"><span>2-5 days</span></td>
                    </tr>
                    <tr style="height: 15px;">
                        <td style="height: 15px; width: 120px; text-align: center; background-color: #eeeeee;">
                            <strong>Canada</strong><span>&nbsp;</span></td>
                        <td style="height: 15px; width: 100px; text-align: center; background-color: #eeeeee;"><span>DHL</span></td>
                        <td style="height: 15px; width: 120px; text-align: center; background-color: #eeeeee;"><span>2-5 days</span></td>
                    </tr>
                    <tr style="height: 15px;">
                        <td style="height: 15px; width: 120px; text-align: center;"><strong>Australia</strong><span>&nbsp;</span></td>
                        <td style="height: 15px; width: 100px; text-align: center;"><span>DHL</span></td>
                        <td style="height: 15px; width: 120px; text-align: center;"><span>2-5 days</span></td>
                    </tr>
                    <tr style="height: 15px;">
                        <td style="height: 15px; width: 120px; text-align: center; background-color: #eeeeee;"><strong>UK</strong><span>&nbsp;</span>
                        </td>
                        <td style="height: 15px; width: 100px; text-align: center; background-color: #eeeeee;"><span>DHL FedEx</span></td>
                        <td style="height: 15px; width: 120px; text-align: center; background-color: #eeeeee;"><span>2-7 days</span></td>
                    </tr>
                    <tr style="height: 15px;">
                        <td style="height: 15px; width: 120px; text-align: center;"><strong>International<span>&nbsp;</span></strong></td>
                        <td style="height: 15px; width: 100px; text-align: center;"><span>DHL</span></td>
                        <td style="height: 15px; width: 120px; text-align: center;"><span>3-9 days</span></td>
                    </tr>
                </tbody>
            </table>
            <p><strong></strong>Note: We cannot guarantee that you will not be charged any customs tax or duties. So you are responsible for all
                applicable customs, duties. Taxes and fees charged by your government. Please understand.&nbsp;</p>
            <p>More details, please kindly check our&nbsp;<span style="text-decoration: underline;"><em><strong><span style="color: #000000;"><a
                                    href="https://www.amazingbeautyhair.com/pages/shipping" style="color: #000000; text-decoration: underline;"
                                    target="_blank">Shipping Page</a></span></strong></em></span>.</p>
        </dd>
        <dt><button type="button" aria-controls="panel-01" aria-expanded="false">Return &amp; Exchange</button></dt>
        <dd id="panel-01" aria-hidden="true">
            <p>We do offer a return policy within 30 days of receiving your order, hair must be in the original state the same as it was sent to you.
                30 days after your purchase we will not accept any returns or exchanges. <span>It is simple, please just send email to us&nbsp;and we
                    will send you return address. Also pls put your order number and reason (such as: do not like color, place wrong order etc.) on
                    email. Thank you.&nbsp;<br>Email us: <span style="color: #cd627d;"><a href="mailto:laura@amazingbeautyhair.com"
                            style="color: #cd627d;"><strong>Laura@amazingbeautyhair.com</strong></a></span>.&nbsp;</span></p>
            <p>More details, please kindly check our&nbsp;<span style="text-decoration: underline;"><em><strong><span
                                style="color: #000000;"></span></strong></em></span><em><strong><a
                            href="https://www.amazingbeautyhair.com/pages/return-policy" style="color: #000000; text-decoration: underline;"
                            target="_blank">Return Policy</a></strong></em>.</p>
        </dd>
        <dt><button type="button" aria-controls="panel-01" aria-expanded="false">FAQ</button></dt>
        <dd id="panel-01" aria-hidden="true">
            <p><br><strong><em><span>Q1. How can I distinguish the human hair from synthetic
                            hair?</span></em><br></strong><strong>A1.</strong><span>&nbsp;</span>The easiest way is to do burning test. Human hair
                burn out quickly and become ashes. Synthetic hair burns become a twisted ball with a plastic smell.</p>
            <p><em><span><strong>Q2.</strong>&nbsp;<strong>How many sets do I need for full head
                            ?</strong></span></em><br><strong>A2.</strong><span>&nbsp;</span>1 set is&nbsp;enough for full head.&nbsp;<span>2 sets if
                    you like fuller hair.</span></p>
            <p><strong>Q3.Can I dye my Amazing Beauty Hair Extensions?<br></strong><strong>A3.</strong>Yes. <span>Generally going 2 shades darker is
                    not a problem. Lightening and bleaching are discouraged for it results in damage of the quality of the hair.</span></p>
            <p><em><span><strong>Q4.</strong>&nbsp;<strong>Can I straighten or curl hair
                            ?</strong></span></em><br><strong>A4.</strong><span>&nbsp;Yes</span>. Y<span>ou can style your AmazingBeauty hair
                    extensions freely to blend perfectly with your own hair.</span><br><br><em><span><strong>Q5.</strong>&nbsp;<strong>What’s the
                            daily care for Amazing Beauty Hair Extensions?</strong></span></em><br><strong>A5.</strong><span>&nbsp;</span>Lightly
                spritz the hair with conditioner and water mix. Detangle with fingers if
                necessary.<br><br><em><span><strong>Q6.</strong>&nbsp;<strong>How often do I wash my Amazing Beauty Hair
                            Extensions?</strong></span></em><br><strong>A6.</strong><span>&nbsp;</span>ONLY wash your Amazing Beauty Hair Extensions
                when they look like they absolutely need it! Don’t wash them as often as your own hair as they don’t receive natural oils and
                nutrition from scalp.</p>
        </dd>
    </dl>
    <!-- split -->
    <h2 style="text-align: center;">See Videos&nbsp;</h2>
    <div class="flexslider">
        <ul class="slides">
            <li>
                <p>
                    <img src="https://i.ytimg.com/vi/QT-CIweHMkU/0.jpg" >
                    <button data-id="QT-CIweHMkU" class="ytp-large-play-button ytp-button" aria-label="Play"><svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%"><path class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#f00"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg></button>
                    
                </p>
            </li>
            <li>
                
                <img src="https://i.ytimg.com/vi/QoiTk0XVHfU/0.jpg" >
                    <button data-id="QoiTk0XVHfU" class="ytp-large-play-button ytp-button" aria-label="Play"><svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%"><path class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#f00"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg></button>
                
            </li>
            <li>
                
                <img src="https://i.ytimg.com/vi/KXrdpuMbOkM/0.jpg" >
                <button data-id="KXrdpuMbOkM" class="ytp-large-play-button ytp-button" aria-label="Play"><svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%"><path class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#f00"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg></button>
                
            </li>
        </ul>
    </div>
</body>

<!-- 
<iframe width="560" height="315" src="https://www.youtube.com/embed/QT-CIweHMkU" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe> -->

                        
</html>